# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea
.idea/Sophelios.github.io.iml
.idea/compiler.xml
.idea/copyright/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml

# Just so Apple doesn't get any ideas...
.DS_Store